{% extends "index.html" %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content%}

<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Change Password</h2>
            </div>
            <div class="col-lg-8">

<div class="shadow-lg p-5 mb-5 bg-body rounded"> 
<form action="" method="post" id="changepassword">
    {% csrf_token %}
    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
        <div>{{ field.errors }}</div> 
    </div>
    {% endfor %}
    <input type="submit" class="btn btn-primary m-3" value="Submit &raquo;">
</form>
</div>
                                      
</div>
</div>
</div>
</section>
</div> 

{% endblock %}