{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="book_apointment_area">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-7">
                    <div class="popup_box ">
                        <div class="popup_inner">
                            <h1>{% trans "Sign Up" %}</h1>

                            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

                            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                                {% csrf_token %}
                                {{ form.as_p }}
                                {% for error in field.errors %}
                                    <p style = "color : red">{{error}}</p>
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <li style = "color : red">{{error}}</li>
                                {% endfor %}
                                {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}
                                <button type="submit">{% trans "Sign Up" %} &raquo;</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<script>
$(document).ready(function() {
        $("#signup_form").validate({
            rules: {
                email: {
                    required: true,
                    email: true,
                },
                username: {
                    required: true,
                    minlength: 2,
                },
                firstName: {
                    minlength: 2,
                },
                lastName: {
                    required: true,
                    minlength: 2,
                },
                contact: {
                    required: true,
                },
                password1: {
                    required: true,
                    minlength: 8
                },
                password2: {
                    equalTo: "#id_password1"
                }   required: true,
                
            },
            messages: {
                email: {
                    required: "This field is required.",
                    email: "Please enter a valid email address.",
                },
                username: {
                    required: 'Enter your username!',
                    minlength: 'Enter more than two character!',
                },
                firstName: {
                    required: 'Enter your name!',
                    minlength: 'Enter more than two character!',
                },
                lastName: {
                    required: 'Enter your name!',
                    minlength: 'Enter more than two character!',
                },
                contact: {
                    required: 'Enter your Number!',
                },
                password1: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 8 characters long"
                },
                password2: {
                    equalTo: "Please enter the same password as above"
                }
            }
        });

});</script>
{% endblock %}
