{% extends "index.html" %}
{% load i18n %}
{% block head_title %}{% trans "Profile" %}{% endblock %}
{% load static %}
{% block content %}
<div class="welcome_clicnic_area">
    <div class="container">
        <div class="welcome_docmed_info">
            <h3>Appointment Details</h3>
            <ul>
                <li> <i class="flaticon-verified"></i> Patient Name : {{appointments.patient}} </li>
                <li> <i class="flaticon-verified"></i> Date : {{appointments.appoint_date}}</li>
                <li> <i class="flaticon-verified"></i> Description : {{appointments.description}}  </li>
                {% if appointments.status == 'Upcoming' %}
                    <a href="{% url 'appointment_cancel' pk=appointments.pk action='Accept' %}" id="accept-app" class="boxed-btn6">Accept</a>
                    <a href="{% url 'appointment_cancel' pk=appointments.pk action='Cancel' %}" value={{appointments.id}} class="boxed-btn6">Cancel</a>
                {% elif appointments.status == 'Accepted' %}
                    <a href="{% url 'reschedule' pk=appointments.pk %}" value={{appointments.id}}  class="boxed-btn6 reschedule">Reschedule</a>
                {% elif appointments.status == 'Rescheduled' %}
                    <a href="{% url 'reschedule' pk=appointments.pk %}" value={{appointments.id}}  class="boxed-btn6 reschedule">Reschedule</a>
                    <a href="{% url 'appointment_cancel' pk=appointments.pk action='Cancel' %}" value={{appointments.id}} class="boxed-btn6">Cancel</a>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
 
{% endblock %}
